<div id="dashboard">

	<div class="content">

		<div class="content-title">
			<h4> Selecione uma das seguintes plataformas</h4>
		</div>

		<div ng-if="!loading" class="row">
			<div class="col-md-4 col-center" ng-repeat="plataforma in plataformas">
				<div class="card text-center" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">{{plataforma.nome}}</h5>
						<p class="card-text">{{plataforma.descricao}}</p>
						<a href="#!/planos/{{plataforma.sku}}" class="btn btn-primary">Ver Planos</a>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="loading" class="loading-content">
			<h5> Carregando... </h5>
			<div class="loading"></div>
		</div>

	</div>

</div>