<div id="dashboard">

	<!-- <div class="header">
		<h1 class="heading">Angular Boilerplate 1.6</h1>
		<p>Selecione uma das seguintes plataformas</p>
	</div> -->

	<header class="masthead" style="background-image: url(https://blackrockdigital.github.io/startbootstrap-clean-blog/img/home-bg.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<!-- <div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1>Celular Direto</h1>
						<span class="subheading">Selecione uma das seguintes plataformas</span>
					</div>
				</div>
			</div> -->
		</div>
	</header>

	<div class="content">

		<div class="content-title">
			<h4> Selecione uma das seguintes plataformas</h4>
		</div>

		<div ng-if="!loading" class="row">
			<div class="col-md-4 col-center" ng-repeat="plataforma in plataformas">
				<div class="card text-center" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">{{plataforma.nome}}</h5>
						<p class="card-text">{{plataforma.descricao}}</p>
						<a href="#!/planos/{{plataforma.sku}}" class="btn btn-primary">Ver Planos</a>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="loading" class="loading-content">
			<h5> Carregando... </h5>
			<div class="loading"></div>
		</div>

	</div>

	<!-- <div class="list-group">
		<a  ng-repeat="plataforma in plataformas"  href="#!/planos/{{plataforma.sku}}" class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">{{plataforma.nome}}</h5>
				<small>{{plataforma.sku}}</small>
			</div>
			<p class="mb-1">
				{{plataforma.descricao}}
			</p>

		</a>
		
	</div> -->


</div>